.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-navbar {
}

.app-content {
  display: flex;
  justify-content: center;


}

@media (max-width: 1000px) {
  .app-content {
    flex-direction: column;
    
    .details-wheel {
      display: flex;
      align-items: center;
      justify-content:center;
    }
    .car-model {
      min-width: 350px;
    }
    .details-wheel p{
      margin: 0 40px;
    }
  }
  .car-config {
    margin-top: 30px;
  }
  .navbar .container {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  
}
